
.full-height {
    height: 100vh;
    margin-left: 60px;
}

.bg-dark-2 {
    background: -webkit-linear-gradient(to right, #1a4b6b, #4c3261);
    background: linear-gradient(to right, #1a4b6b, #4c3261);
}


.header-sizing-nv {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: 45vh;
}


.title-sizing {
    margin-top: 30px;
}

.p-text-sizing {
    font-weight: 600;
}


.header-sizing-nv > h3 {
    font-size: 50px;
}


.sizing-container-div-nv {

    height: 53vh;
}


.align-templates-container {
    height: 100%;
    width: 100%;

    margin-top: 2vh;

    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
}

/*
.format-template-card {
    background-color: rgba(41, 41, 41, 0.5);
    width: 120px;
    height: 120px;
    margin: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 600;
}

.format-template-card:hover {
    background-color: rgba(41, 41, 41, 0.8);
    width: 130px;
    height: 130px;

    transition-duration: 250ms;

    cursor: pointer;
}
*/

/* LIGHT THEME */

.bg-light-2 {
    background: -webkit-linear-gradient(to right, #aac7da, #dfbafd);
    background: linear-gradient(to right, #86adc7, #c0b0ce);
}

.bg-light-1 {
    background: #cceff5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8d9fbd, #92c6e0, #89cfdb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d1bbbb, #799bfa, #bdcfd1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
