h3, p {
    color: rgb(220, 220, 220);
}


.saveds-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.saveds-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;

    width: 100%;
    height: 12vh;
}


.notes-saveds-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;

    width: 80%;
    height: 88vh;
}


.note-saved-card {
    background-color: rgba(41, 41, 41, 0.5);
    width: 200px;
    height: 170px;
    margin: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 600;
}

.note-saved-card:hover {
    background-color: rgba(41, 41, 41, 0.8);
    width: 210px;
    height: 180px;

    transition-duration: 350ms;

    cursor: pointer;
}


.saved-img-note {
    width: 200px;
    height: 100px;
}


.note-sub-card {
    width: 160px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}