.p-dark {
    color: rgb(200, 200, 200);
}

.align-divs-canvas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.center-container-canvas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 96vh;
}

.container-up-canvas {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    height: 90vh;
    width: 190vh;
}

.sizing-icons-canvas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;

    height: 90vh;
    width: 8vh;
}

.m-fas-w {
    margin: 15px;
}


.active {
    color: rgb(41, 149, 212);
}


.input-color {
    margin-top: 15px;
    width: 30px;
    height: 30px;
}


.sizing-div-canvas {
    display: flex;
    justify-content: center;
    align-items: left;
    align-content: center;
    
    height: 90vh;
    width: 182vh;
}

.state-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 4vh;
}

.bg-dark-45 {
    background-color: rgb(45, 45, 45);
}

.bg-dark-70 {
    background-color: rgb(70, 70, 70);
}

.range-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    float: left;
    margin-bottom: 68vh;
    margin-right: 152vh;
    width: 150px;
    height: 42px;
}


.shapes-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    width: 40px;
    height: 140px;

    position: fixed;
    float: left;

    margin-bottom: 0;
    margin-right: 168vh;
}


.font-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    width: 200px;
    height: 210px;

    padding-bottom: 10px;

    position: fixed;
    float: left;

    margin-top: 24vh;
    margin-right: 144vh;
}

.bg-dark-t {
    background-color: rgba(44, 44, 44, 0.9);
}


.grid-dark {
    background-image: url("../../images/darkgrid.png");
}


/* LIGHT THEME */

.bg-light-t {
    background-color: rgba(216, 216, 216, 0.9);
}

.grid-light {
    background-image: url("../../images/darkgrid.png"); /*Cambiar*/
}

.bg-light-210 {
    background-color: rgb(210, 210, 210);
}

.bg-light-170 {
    background-color: rgb(170, 170, 170);
}

.p-light {
    color: rgb(55, 55, 55);
}