/* HomeComp */


.full-height {
    height: 100vh;
    margin-left: 60px;
}


.header-sizing-nv {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: 45vh;
}


.note-saved-card {
    width: 200px;
    height: 170px;
    margin: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 600;
}


.note-saved-card:hover {
    width: 210px;
    height: 180px;

    transition-duration: 350ms;

    cursor: pointer;
}


.saved-img-note {
    width: 200px;
    height: 100px;
}


.note-sub-card {
    width: 160px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
}


.title-sizing {
    margin-top: 30px;
}


.p-text-sizing {
    font-weight: 600;
}


.header-sizing-nv > h3 {
    font-size: 50px;
}


.sizing-container-div-nv {

    height: 53vh;
}


.align-templates-container {
    height: 100%;
    width: 100%;

    margin-top: 2vh;

    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
}


/* Navigation */


.nav-container {
    display: flex;
    flex-direction: column;

    width: 60px;
    height: 100vh;

    position: fixed;
}


.align-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 100%;
}


.dropdown-user {
    margin-left: 60px;
    width: 190px;

    display: flex;
    flex-direction: column;
    align-items: left;

    position: fixed;
    float: left;
    height: 92px;

    margin-top: 78vh;
}


.user-action {
    padding: 5px;
}


.dropdown-theme {
    margin-left: 60px;
    width: 100px;

    display: flex;
    flex-direction: column;
    align-items: left;

    position: fixed;
    float: left;
    height: 100%;

    margin-top: 65vh;
}


.display-on {
    display: flex;
    transition: 500ms;
}


.display-off {
    display: none;
    transition: 500ms;
}


/* SavedNotes */


.saveds-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.saveds-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;

    width: 100%;
    height: 12vh;
}


.notes-saveds-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;

    width: 80%;
    height: 88vh;
}


.saved-img-note {
    width: 200px;
    height: 100px;
}


.note-sub-card {
    width: 160px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
}


.icons-saves {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}


.no-margin {
    margin: 10px 15px 10px 0;
}


/* SaveScreen */


.ss-background {
    width: 100rem;
    height: 100vh;

    margin-left: 60px;
    padding-left: 29rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.5);

    position: fixed;
}


.ss-card {
    height: 20vh;
    width: 25rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 2%;
}


.ss-input {
    width: 20rem;
    height: 5vh;

    font-size: 3vh;
}


.ss-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.btn-save {
    margin-right: 5px;

    width: 10rem;
    height: 5vh;

    font-size: 3vh;
    font-weight: 600;

    border: none;
    border-radius: 5%;
}


.btn-cancel {
    margin-left: 5px;

    width: 10rem;
    height: 5vh;

    font-size: 3vh;
    font-weight: 600;

    border: none;
    border-radius: 5%;
}


/* Whiteboard */


.align-divs-canvas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.center-container-canvas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 96vh;
}


.container-up-canvas {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    height: 90vh;
    width: 190vh;
}


.sizing-icons-canvas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;

    height: 90vh;
    width: 8vh;
}


.input-color {
    margin-top: 15px;
    width: 30px;
    height: 30px;
}


.sizing-div-canvas {
    display: flex;
    justify-content: center;
    align-items: left;
    align-content: center;
    
    height: 90vh;
    width: 182vh;
}


.state-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 4vh;
}


.range-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    float: left;
    margin-bottom: 68vh;
    margin-right: 152vh;
    width: 150px;
    height: 42px;
}


.shapes-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    width: 40px;
    height: 140px;

    position: fixed;
    float: left;

    margin-bottom: 0;
    margin-right: 168vh;
}


.font-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    width: 200px;
    height: 210px;

    padding-bottom: 10px;

    position: fixed;
    float: left;

    margin-top: 24vh;
    margin-right: 144vh;
}


/* Loader */


.card-loader {
    height: 100vh;
    background-color: transparent;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 1.3s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);
        border-top: 10px solid rgb(0, 111, 185);
    }
    50%{transform: rotate(180deg);
        border-top: 10px solid rgb(121, 214, 243);
    }
    100% { transform: rotate(360deg);
        border-top: 10px solid rgb(0, 111, 185);
    }
}