.nav-container {
    display: flex;
    flex-direction: column;

    width: 60px;
    height: 100vh;

    position: fixed;
}

.bg-dark {
    background-color: rgb(40, 45, 90);
}

.align-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 100%;
}


.i-dark {
    color: rgb(200, 200, 200);
}

.i-dark:hover {
    color: rgb(110, 110, 110);
    cursor: pointer;  
}


.dropdown-user {
    margin-left: 60px;
    width: 80px;

    display: flex;
    flex-direction: column;
    align-items: left;

    position: fixed;
    float: left;
    height: 92px;

    margin-top: 78vh;
}

.user-action {
    padding: 5px;
}

.bg-dark-t:hover {
    background-color: rgb(68, 68, 68);
    cursor: pointer;
}


.dropdown-theme {
    margin-left: 60px;
    width: 100px;

    display: flex;
    flex-direction: column;
    align-items: left;

    position: fixed;
    float: left;
    height: 100%;

    margin-top: 65vh;
}


.display-on {
    display: flex;
    transition: 500ms;
}

.display-off {
    display: none;
    transition: 500ms;
}


.light-theme {
    color: rgb(31, 31, 31);
    background-color: rgba(223, 223, 223, 0.9);

    padding: 5px;
}
.light-theme:hover {
    background-color: rgb(194, 194, 194);
    cursor: pointer;
}

.dark-theme {
    color: rgb(221, 221, 221);
    background-color: rgba(41, 41, 41, 0.9);

    padding: 5px;
}
.dark-theme:hover {
    background-color: rgb(68, 68, 68);
    cursor: pointer;
}


/* LIGHT THEME */

.bg-light {
    background-color: rgb(225, 225, 225);
}

.i-light {
    color: rgb(37, 37, 37);
}

.i-light:hover {
    color: rgb(87, 87, 87);
    cursor: pointer;  
}