.ss-background {
    width: 100rem;
    height: 100vh;

    margin-left: 60px;
    padding-left: 29rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.568);

    position: fixed;
}

.ss-card {
    height: 20vh;
    width: 25rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 2%;
}

.ss-input {
    width: 20rem;
    height: 5vh;

    font-size: 3vh;
}


.ss-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.btn-save {
    margin-right: 5px;

    width: 10rem;
    height: 5vh;

    font-size: 3vh;
    font-weight: 600;

    color: rgb(233, 233, 233);
    border: none;
    border-radius: 5%;
}

.btn-save:hover {
    background-color: rgb(61, 97, 66);
}

.btn-cancel {
    margin-left: 5px;

    width: 10rem;
    height: 5vh;

    font-size: 3vh;
    font-weight: 600;

    color: rgb(233, 233, 233);
    border: none;
    border-radius: 5%;
}

.btn-cancel:hover {
    background-color: rgb(105, 60, 60);
}